<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <HostingUnitID>3</HostingUnitID>
  <GuestRequestID>3</GuestRequestID>
  <OrderID>4</OrderID>
  <HostID>3</HostID>
  <commission>10</commission>
  <orderValidTime>30</orderValidTime>
  <orderCancelationDays>14</orderCancelationDays>
</Configuration>